<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title>Welcome to Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link href="stylesheet/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheet/css/stylesheet.css" rel="stylesheet">
</head>
<body>
<div id="main" class="container">
    <div id="content">
        <headline-grid headline-title="What We Do" style="background-color: white">
            <template>
                <span class="description" v-html="wwd_strings"></span>
            </template>
        </headline-grid>
        <headline-grid headline-title="Explore Opportunities" style="background-color: #fcfcfc">
            <template>
                <job-listing-strip
                        v-for="(item, i) in availableJobs"
                        :key="`job-${i}`"
                        :title="item.title"
                        :classification="item.classification"
                        :contract="item.contract"
                        :location="item.location">
                </job-listing-strip>
            </template>
        </headline-grid>
    </div>
    <div id="footer">
        <div class="copyright-notes">
            <span>Made with <img class="heart-image" src="static/heart.png">  from Indonesia. &nbsp;</span>
            <span>&#xa9 Kulina, 2018. All Rights Reserved.</span>
        </div>
        <div class="social-icons-container">
            <span>Follow kami &nbsp;</span>
            <social-media-button
                    v-for="(item, i) in socialMediaList"
                    :key="`icon-${i}`"
                    :name="item.name"
                    :link="item.link"
                    :icon="item.img">
            </social-media-button>
        </div>
    </div>
</div>

<script src="component/HeadlineGrid.js"></script>
<script src="component/JobListingStrip.js"></script>
<script src="component/JobApplyButton.js"></script>
<script src="component/SocialMediaButton.js"></script>
<script src="AvailableJobs.js"></script>
<script>
		const wwd_strings =
		`Kulina's mission is to "serve the best meal with an outstanding customer experience at the lowest possible price every single day". ` +
		`We want to be customer's default meal option by providing quality product with on-time delivery. ` +
		`We help customers save time and money for each meal they get from us, so they can better spend it on other things that matter. ` +
		`<br><br>` +
		`We took pride in being the first food tech startup to join "Google Launchpad Accelerator" in San Francisco, and the only on from Indonesia in winter 2018. ` +
		`Our startup is backed by the same investor who invested in Ele.me (China's unicorn food delivery startup). ` +
		`<br><br>` +
		`Join us in our mission to delivering the best meals to ten millions of Jakartans. ` +
		`Hurry! Be part of our Kulinas family.`

	new Vue({
		el: "#main",
		data: function() {
			return {
				wwd_strings,
				availableJobs,
                socialMediaList: SocialMediaList
			}
		},
		components: {
			"headline-grid": HeadlineGrid,
			"job-listing-strip": JobListingStrip,
            "social-media-button": SocialMediaButton
		}
	})
</script>
</body>
</html>
