<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title>Welcome to Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link href="stylesheet/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheet/css/stylesheet.css" rel="stylesheet">
</head>
<body>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="./js/bootstrap.min.js"></script>
<div id="main" class="container">
    <section id="header">
        <nav-bar></nav-bar>
        <div class="greetings">
            <span>{{s_joinImpact}}</span>
        </div>
        <div id="scroll-to-button">
            <span class="icon"></span>
        </div>
    </section>
    <section id="content">
        <headline-grid :headline-title="s_whatWeDo" style="background-color: white">
            <span class="description" v-html="s_whatWeDo_desc"></span>
        </headline-grid>
        <headline-grid :headline-title="s_exploreOpp" style="background-color: #fcfcfc">
            <job-listing-strip
                    v-for="(item, i) in availableJobs"
                    :key="`job-${i}`"
                    :title="item.title"
                    :classification="item.classification"
                    :contract="item.contract"
                    :location="item.location">
            </job-listing-strip>
        </headline-grid>
    </section>
    <section id="footer">
        <div class="copyright-notes">
            <span>Made with <img class="heart-image" src="static/heart.png">  from Indonesia. &nbsp;</span>
            <span>&#xa9 Kulina, 2018. All Rights Reserved.</span>
        </div>
        <div class="social-icons-container">
            <span>Follow kami &nbsp;</span>
            <social-media-button
                    v-for="(item, i) in socialMediaList"
                    :key="`icon-${i}`"
                    :name="item.name"
                    :link="item.link"
                    :icon="item.img">
            </social-media-button>
        </div>
    </section>
</div>

<script src="./component/NavBar.js"></script>
<script src="./component/HeadlineGrid.js"></script>
<script src="./component/JobListingStrip.js"></script>
<script src="./component/JobApplyButton.js"></script>
<script src="./component/SocialMediaButton.js"></script>
<script src="./js/AvailableJobs.js"></script>
<script src="./js/Strings.js"></script>
<script>
	$(document).ready(function(){
		$('#scroll-to-button').click(function(){
			let targetHeight = $('#content').offset().top
			let navbarHeight = $("#navbar-container").height()
            console.log(targetHeight, navbarHeight)
			$('html, body').animate({
				scrollTop: targetHeight  - navbarHeight
			}, 1000)
		})
    })

	$(window).on("scroll", function() {
		let headerHeight = $("#header").height()
		let navbarHeight = $("#navbar-container").height()
		let scrollPosition = $(window).scrollTop()
		let diff = 1 - ((headerHeight - navbarHeight - scrollPosition) / (headerHeight - navbarHeight))
		let opacity = Math.min(1, diff)
		console.log(opacity)
		$(".navbar-background").css({opacity: Math.min(.8, opacity)})
        $("#scroll-to-button").css({opacity: 1 - opacity})
		$(".greetings").css({opacity: 1 - opacity})
	})

	new Vue({
		el: "#main",
		data: function() {
			return {
				menuList: NavigationMenuList,
                s_joinImpact: Strings.JoinImpact,
                s_whatWeDo: Strings.WhatWeDo,
				s_whatWeDo_desc: Strings.WhatWeDo_desc,
                s_exploreOpp: Strings.ExploreOpp,
				availableJobs,
				socialMediaList: SocialMediaList
			}
		},
		components: {
			"nav-bar": NavigationBar,
			"headline-grid": HeadlineGrid,
			"job-listing-strip": JobListingStrip,
			"social-media-button": SocialMediaButton
		}
	})
</script>
</body>
</html>
