[class^=row], [class*=" row"] {
  margin: 0;
}

[class^=col-], [class*=" col-"] {
  padding: 0;
}

.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  background-color: white;
  padding: 0;
  margin: 0;
}

.btn {
  color: white;
  font-size: 1.1em;
  padding: 6px 48px;
  background-color: darkorange;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn:hover {
  background-color: orangered;
}

.btn, .btn:focus, .btn.focus {
  -webkit-box-shadow: 0 2px 12px 0 rgba(255, 165, 0, 0.5);
  -moz-box-shadow: 0 2px 12px 0 rgba(255, 165, 0, 0.5);
  box-shadow: 0 2px 12px 0 rgba(255, 165, 0, 0.5);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 75%;
  margin: 0;
  min-width: 320px;
}

#header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 75vh;
  background: url("../../static/shridhar-gupta-678685-unsplash.jpg") top;
}
#header #navbar-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 96px;
}
#header .navbar-background {
  content: "";
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  height: 96px;
  background-color: #8b061a;
  z-index: 100;
  opacity: 0;
}
#header .navbar {
  height: 96px;
  padding: 24px;
}
#header .navbar .navbar-brand > img {
  width: 128px;
}
#header .navbar .navbar-toggler {
  border: none !important;
}
#header .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("../../static/icons8-menu-48.png") !important;
  background-size: 75% 75%;
}
#header #navbar-header {
  position: absolute;
  top: 96px;
  width: 100vw;
  margin-left: -24px;
  margin-right: -24px;
  font-size: 1.8em;
  font-weight: 300;
  letter-spacing: 0.05em;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.8);
}
#header #navbar-header .navbar-nav > .nav-item > .nav-link {
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
#header #navbar-header .navbar-nav > .nav-item > .nav-link:hover {
  color: white;
}
#header #navbar-header .navbar-nav > .nav-item.active > .nav-link {
  color: rgba(255, 255, 255, 0.9);
}
#header #navbar-header .navbar-nav > .nav-item.active > .nav-link:hover {
  color: white;
}
#header .greetings {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#header .greetings span {
  color: white;
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-align: center;
}
#header #scroll-to-button {
  border-radius: 3rem;
  background-color: white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 1px calc(8 * 8px) -2px rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 0 1px calc(8 * 8px) -2px rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px calc(8 * 8px) -2px rgba(255, 255, 255, 0.9);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: bounce 0.3s ease-in alternate-reverse infinite;
  -o-animation: bounce 0.3s ease-in alternate-reverse infinite;
  animation: bounce 0.3s ease-in alternate-reverse infinite;
  position: absolute;
  left: calc((100% - 42px) / 2);
  bottom: 1.5rem;
  width: 42px;
  height: 42px;
  border-radius: 3rem;
  cursor: pointer;
}
#header #scroll-to-button::before {
  border-radius: 3rem;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  -webkit-box-shadow: 0 2px calc(8 * 12px) -2px rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 0 2px calc(8 * 12px) -2px rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px calc(8 * 12px) -2px rgba(255, 255, 255, 0.9);
  opacity: 0;
}
#header #scroll-to-button:hover::before {
  opacity: 1;
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
  }
}
#header #scroll-to-button > span.icon {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: url("../../static/icons8-expand-arrow-20.png") center no-repeat;
}

#content {
  -webkit-box-sizing: box-sizing;
  -moz-box-sizing: box-sizing;
  box-sizing: box-sizing;
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.headline-grid-container {
  padding: 24px;
}
.headline-grid-container .headline-title {
  margin-bottom: 24px;
}
.headline-grid-container .headline-title > span {
  display: block;
  font-size: 2.5em;
  font-weight: 900;
  color: #0a0a0a;
  line-height: 1.2em;
}
.headline-grid-container span.description {
  font-size: 1.3em;
  font-weight: 400;
  color: #8a8a8a;
}

.job-listing-strip {
  border-radius: 4px;
  background-color: white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 1px calc(4 * 8px) -2px rgba(176, 187, 195, 0.31);
  -moz-box-shadow: 0 1px calc(4 * 8px) -2px rgba(176, 187, 195, 0.31);
  box-shadow: 0 1px calc(4 * 8px) -2px rgba(176, 187, 195, 0.31);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding: 20px;
}
.job-listing-strip::before {
  border-radius: 4px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  -webkit-box-shadow: 0 2px calc(4 * 12px) -2px rgba(176, 187, 195, 0.31);
  -moz-box-shadow: 0 2px calc(4 * 12px) -2px rgba(176, 187, 195, 0.31);
  box-shadow: 0 2px calc(4 * 12px) -2px rgba(176, 187, 195, 0.31);
  opacity: 0;
}
.job-listing-strip:hover::before {
  opacity: 1;
}
.job-listing-strip + .job-listing-strip {
  margin-top: 24px;
}
.job-listing-strip:last-child {
  margin-bottom: 24px;
}
.job-listing-strip .job-title {
  display: block;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.5em;
  color: #0a0a0a;
  margin-bottom: 4px;
}
.job-listing-strip .job-details {
  display: block;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.2em;
  color: #bababa;
  margin-bottom: 8px;
}
.job-listing-strip .btn-container {
  justify-content: flex-start;
}

#footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 32px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #8a8a8a;
  font-size: 1.1em;
}
#footer::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 10vw;
  right: 10vw;
  height: 1px;
  background-color: #dadada;
}
#footer .copyright-notes {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer img.heart-image {
  width: 1.2em;
  height: 1.2em;
}
#footer .social-icons-container {
  display: none;
}
#footer img.social-media-icon {
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  width: 2em;
  height: 2em;
  opacity: 0.7;
  margin-right: 4px;
}
#footer img.social-media-icon:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  #header #navbar-header {
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 0.05em;
    justify-content: flex-end;
    background-color: transparent;
  }
  #header #navbar-header .navbar-nav > .nav-item > .nav-link {
    color: rgba(255, 255, 255, 0.7);
  }
  #header #navbar-header .navbar-nav > .nav-item > .nav-link:hover {
    color: white;
  }
  #header #navbar-header .navbar-nav > .nav-item.active > .nav-link {
    color: rgba(255, 255, 255, 0.9);
  }
  #header #navbar-header .navbar-nav > .nav-item.active > .nav-link:hover {
    color: white;
  }
  #header .navbar-nav > .nav-item + .nav-item {
    margin-left: 16px;
  }

  #footer {
    padding-left: 10vw;
    padding-right: 10vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #footer .copyright-notes {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  #footer .social-icons-container {
    display: block;
  }

  .headline-grid-container {
    padding: 72px 10vw;
  }

  .job-listing-strip .btn-container {
    justify-content: flex-end;
  }

  .btn {
    padding: 12px 48px;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
