$shadow-color: rgba(176, 187, 195, 0.31);

$font-size-smaller: 1.1em;
$font-size-small: 1.2em;
$font-size-normal: 1.3em;
$font-size-medium: 1.5em;
$font-size-large: 1.8em;
$font-size-huge: 2.5em;

$font-color-normal: #0a0a0a;
$font-color-light: #6a6a6a;
$font-color-lighter: #bababa;

@mixin scale($scaleX, $scaleY){
  -webkit-transform: scale($scaleX, $scaleY);
  -moz-transform: scale($scaleX, $scaleY);
  -ms-transform: scale($scaleX, $scaleY);
  -o-transform: scale($scaleX, $scaleY);
  transform: scale($scaleX, $scaleY);
}

@mixin transition($opts...) {
  -webkit-transition: $opts;
  -moz-transition: $opts;
  -ms-transition: $opts;
  -o-transition: $opts;
  transition: $opts;
}

@mixin sizing($opts...) {
  -webkit-box-sizing: $opts;
  -moz-box-sizing: $opts;
  box-sizing: $opts;
}

@mixin shadow($opts...) {
  -webkit-box-shadow: $opts;
  -moz-box-shadow: $opts;
  box-shadow: $opts;
}

@mixin elevate-on-hover() {
  border-radius: 4px;
  background-color: white;
  @include transition(all 0.3s ease-in-out);
  @include shadow(0 4px 32px -2px $shadow-color);

  &::before {
    border-radius: 4px;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    @include transition(opacity 0.3s ease-in-out);
    @include shadow(0 8px 52px -2px $shadow-color);
    opacity: 0;
  }

  &:hover::before {
    opacity: 1;
  }
}

//Bootstrap Override
[class^="row"], [class*=" row"] {
  margin: 0;
}

[class^="col-"], [class*=" col-"] {
  padding: 0;
}

.navbar {
  padding: 0;
}

.container {
  @include sizing(border-box);
  width: 100%;
  max-width: 1440px;
  background-color: white;
  padding: 0;
  margin: 0;
}

.btn {
  color: white;
  font-size: $font-size-smaller;
  padding: 6px 48px;
  background-color: darkorange;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 75%;
  margin: 0;
  min-width: 320px;
}

#header {
  @include sizing(border-box);
  position: relative;
  height: 80vh;
  background-color: #4e555b;

  .navbar {
    padding: 24px;
    font-size: $font-size-small;
  }

  #navbar-header{
    justify-content: flex-end;

    .navbar-nav > .nav-item + .nav-item {
      margin-left: 16px;
    }

    .navbar-nav > .nav-item > .nav-link {
      color: transparentize(#fff, 0.6);
    }

    .navbar-nav > .nav-item.active > .nav-link {
      color: transparentize(#fff, 0.2);
    }

  }

  .kulina-brand{
    img{
      width: 128px;
    }
  }

  .greetings {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span{
      color: white;
      font-size: $font-size-huge;
      font-weight: 700;
    }
  }
}

#content {
  @include sizing(box-sizing);
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.headline-grid-container {
  padding: 24px;

  .headline-title{
    margin-bottom: 24px;
    > span{
      display: block;
      font-size: $font-size-huge;
      font-weight: 900;
      color: $font-color-normal;
      line-height: 1.2em;
    }
  }

  span.description{
    font-size: $font-size-normal;
    font-weight: 400;
    color: $font-color-light;
  }
}

.job-listing-strip {
  @include elevate-on-hover();
  @include sizing(border-box);
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding: 20px;

  + .job-listing-strip {
    margin-top: 24px;
  }

  &:last-child{
    margin-bottom: 24px;
  }

  .job-title {
    display: block;
    font-size: $font-size-medium;
    font-weight: 700;
    line-height: 1.5em;
    color: $font-color-normal;
  }

  .job-details {
    display: block;
    font-size: 1.2em;
    font-weight: 400;
    line-height: $font-size-small;
    color: $font-color-light;
    margin-bottom: 8px;
  }

  .btn-container {
    justify-content: flex-start;
  }
}

#footer {
  @include sizing(border-box);
  position: relative;
  margin-bottom: 32px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $font-color-light;
  font-size: $font-size-smaller;

  &::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 10vw;
    right: 10vw;
    height: 1px;
    background-color: #dadada;
  }

  .copyright-notes {
    @include sizing(border-box);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img.heart-image {
    width: 1.2em;
    height: 1.2em;
  }

  .social-icons-container {
    display: none;
  }

  img.social-media-icon {
    width: 2em;
    height: 2em;
  }
}

@media (min-width: 768px) {
  #footer {
    padding-left: 10vw;
    padding-right: 10vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .copyright-notes {
      @include sizing(border-box);
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
    }

    .social-icons-container {
      display: block;
    }
  }

  .headline-grid-container {
    padding: 72px 10vw;
  }

  .job-listing-strip {
    .btn-container {
      justify-content: flex-end;
    }
  }

  .btn {
    padding: 12px 48px;
  }
}