$font-size-smaller: 1em;
$font-size-small: 1.2em;
$font-size-normal: 1.3em;
$font-size-medium: 1.5em;
$font-size-large: 1.8em;
$font-size-huge: 2.4em;

$font-color-normal: #0a0a0a;
$font-color-light: #6a6a6a;
$font-color-lighter: #bababa;

@mixin scale($scaleX, $scaleY){
  -webkit-transform: scale($scaleX, $scaleY);
  -moz-transform: scale($scaleX, $scaleY);
  -ms-transform: scale($scaleX, $scaleY);
  -o-transform: scale($scaleX, $scaleY);
  transform: scale($scaleX, $scaleY);
}

@mixin transition($opts...) {
  -webkit-transition: $opts;
  -moz-transition: $opts;
  -ms-transition: $opts;
  -o-transition: $opts;
  transition: $opts;
}

@mixin sizing($opts...) {
  -webkit-box-sizing: $opts;
  -moz-box-sizing: $opts;
  box-sizing: $opts;
}

@mixin shadow($opts...) {
  -webkit-box-shadow: $opts;
  -moz-box-shadow: $opts;
  box-shadow: $opts;
}

@mixin elevate-on-hover() {
  border-radius: 4px;
  background-color: white;
  @include transition(all 0.3s ease-in-out);
  @include shadow(0 4px 36px 0 rgba(0, 0, 0, 0.1));

  &::before {
    border-radius: 4px;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    @include transition(opacity 0.3s ease-in-out);
    @include shadow(0 8px 52px 0 rgba(0, 0, 0, 0.1));
    opacity: 0;
  }

  &:hover::before {
    opacity: 1;
  }
}

//Bootstrap Override
[class^="row"], [class*=" row"] {
  margin: 0;
}

[class^="col-"], [class*=" col-"] {
  padding: 0;
}

.container {
  @include sizing(border-box);
  width: 100%;
  max-width: 1440px;
  background-color: white;
  padding: 0;
  margin: 0;
}

.btn {
  color: white;
  font-size: $font-size-smaller;
  padding: 6px 48px;
  border: none;
  background-color: darkorange;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin: 0;
  min-width: 320px;
}

#content {
  @include sizing(box-sizing);
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.headline-grid-container {
  padding: 24px;

  .headline-title{
    margin-bottom: 24px;
    > span{
      display: block;
      font-size: $font-size-huge;
      font-weight: 900;
      color: $font-color-normal;
      line-height: 1.2em;
    }
  }

  span.description{
    font-size: $font-size-normal;
    font-weight: 400;
    color: $font-color-light;
  }
}

.job-listing-strip {
  @include elevate-on-hover();
  @include sizing(border-box);
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding: 20px;

  + .job-listing-strip {
    margin-top: 24px;
  }

  &:last-child{
    margin-bottom: 24px;
  }

  .job-title {
    display: block;
    font-size: $font-size-medium;
    font-weight: 700;
    line-height: 1.5em;
    color: $font-color-normal;
  }

  .job-details {
    display: block;
    font-size: 1.2em;
    font-weight: 400;
    line-height: $font-size-small;
    color: $font-color-light;
    margin-bottom: 8px;
  }

  .btn-container {
    justify-content: flex-start;
  }
}

@media (min-width: 768px) {
  .headline-grid-container {
    padding: 72px 10vw;
  }

  .job-listing-strip {
    .btn-container {
      justify-content: flex-end;
    }
  }

  .btn {
    padding: 12px 48px;
  }
}