$header-height: 75vh;
$navbar-height: 96px;

$shadow-color: rgba(176, 187, 195, 0.31);

$font-size-smaller: 1.1em;
$font-size-small: 1.2em;
$font-size-normal: 1.3em;
$font-size-medium: 1.5em;
$font-size-large: 1.8em;
$font-size-huge: 2.5em;

$font-color-normal: #0a0a0a;
$font-color-light: #8a8a8a;
$font-color-lighter: #bababa;

@mixin scale($scaleX, $scaleY){
  -webkit-transform: scale($scaleX, $scaleY);
  -moz-transform: scale($scaleX, $scaleY);
  -ms-transform: scale($scaleX, $scaleY);
  -o-transform: scale($scaleX, $scaleY);
  transform: scale($scaleX, $scaleY);
}

@mixin transition($opts...) {
  -webkit-transition: $opts;
  -moz-transition: $opts;
  -ms-transition: $opts;
  -o-transition: $opts;
  transition: $opts;
}

@mixin sizing($opts...) {
  -webkit-box-sizing: $opts;
  -moz-box-sizing: $opts;
  box-sizing: $opts;
}

@mixin shadow($opts...) {
  -webkit-box-shadow: $opts;
  -moz-box-shadow: $opts;
  box-shadow: $opts;
}

@mixin elevate-on-hover($shadowDepth, $shadowColor, $backgroundColor, $borderRadius) {
  $shadow-blur: calc(#{$shadowDepth} * 8px);
  $shadow-blur-hover: calc(#{$shadowDepth} * 12px);
  border-radius: $borderRadius;
  background-color: $backgroundColor;
  @include transition(all 0.3s ease-in-out);
  @include shadow(0 1px $shadow-blur -2px $shadowColor);

  &::before {
    border-radius: $borderRadius;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $backgroundColor;
    @include transition(opacity 0.3s ease-in-out);
    @include shadow(0 2px $shadow-blur-hover -2px $shadowColor);
    opacity: 0;
  }

  &:hover::before {
    opacity: 1;
  }
}

@mixin anim-bounce($translateY){
  @-webkit-keyframes bounce {
    0%{
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);}
    100%{
      -webkit-transform: translateY($translateY);
      -moz-transform: translateY($translateY);
      -ms-transform: translateY($translateY);
      -o-transform: translateY($translateY);
      transform: translateY($translateY);}
  }

  @keyframes bounce {
    0%{
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);}
    100%{
      -webkit-transform: translateY($translateY);
      -moz-transform: translateY($translateY);
      -ms-transform: translateY($translateY);
      -o-transform: translateY($translateY);
      transform: translateY($translateY);}
  }

  -webkit-animation: bounce .3s ease-in alternate-reverse infinite;
  -o-animation: bounce .3s ease-in alternate-reverse infinite;
  animation: bounce .3s ease-in alternate-reverse infinite;

}

// Bootstrap General Override -----------------------------------
[class^="row"], [class*=" row"] {
  margin: 0;
}

[class^="col-"], [class*=" col-"] {
  padding: 0;
}

.container {
  @include sizing(border-box);
  width: 100%;
  max-width: 1440px;
  background-color: white;
  padding: 0;
  margin: 0;
}

.btn {
  color: white;
  font-size: $font-size-smaller;
  padding: 6px 48px;
  background-color: darkorange;
  @include transition(background-color 0.3s ease-in-out);

  &:hover{
    background-color: orangered;
  }
}

.btn, .btn:focus, .btn.focus {
  @include shadow(0 2px 12px 0 transparentize(orange, 0.5));
}

// Style ------------------------------------------------------
body {
  font-family: 'Roboto', sans-serif;
  font-size: 75%;
  margin: 0;
  min-width: 320px;
}

// [#HEADER STYLE----------------------]
#header {
  @include sizing(border-box);
  position: relative;
  height: $header-height;
  background: url("../../static/shridhar-gupta-678685-unsplash.jpg") top;

  #navbar-container{
    @include sizing(border-box);
    height: $navbar-height;
  }

  .navbar-background{
    content: '';
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: $navbar-height;
    background-color: #8b061a;
    z-index: 100;
    opacity: 0;
  }

  .navbar {
    height: $navbar-height;
    padding: 24px;

    .navbar-brand > img{
      width: 128px;
    }

    .navbar-toggler{
      border: none !important;

      .navbar-toggler-icon{
        background-image: url("../../static/icons8-menu-48.png") !important;
        background-size: 75% 75%;
      }
    }
  }

  #navbar-header{
    position: absolute;
    top: $navbar-height;
    width: 100vw;
    margin-left: -24px;
    margin-right: -24px;
    font-size: $font-size-large;
    font-weight: 300;
    letter-spacing: 0.05em;
    justify-content: flex-end;
    background-color: transparentize(#fff, 0.2);

    .navbar-nav > .nav-item > .nav-link {
      width: 100%;
      text-align: center;
      color: transparentize(#fff, 0.3);

      &:hover{
        color: white;
      }
    }

    .navbar-nav > .nav-item.active > .nav-link {
      color: transparentize(#fff, 0.1);

      &:hover{
        color: white;
      }
    }
  }

  .greetings {
    @include sizing(border-box);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span{
      color: white;
      font-size: $font-size-huge;
      font-weight: 700;
      letter-spacing: 0.05em;
      text-align: center;
    }
  }

  $scroll-to-button-width: 42px;
  #scroll-to-button{
    @include elevate-on-hover(8, transparentize(#fff, 0.1), white, 3rem);
    @include sizing(border-box);
    @include anim-bounce(3px);
    position: absolute;
    left: calc((100% - #{$scroll-to-button-width}) / 2);
    bottom: 1.5rem;
    width: $scroll-to-button-width;
    height: $scroll-to-button-width;
    border-radius: 3rem;
    cursor: pointer;

    > span.icon{
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      background: url("../../static/icons8-expand-arrow-20.png") center no-repeat;
    }
  }
}

// [#CONTENT STYLE----------------------]
#content {
  @include sizing(box-sizing);
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.headline-grid-container {
  padding: 24px;

  .headline-title{
    margin-bottom: 24px;
    > span{
      display: block;
      font-size: $font-size-huge;
      font-weight: 900;
      color: $font-color-normal;
      line-height: 1.2em;
    }
  }

  span.description{
    font-size: $font-size-normal;
    font-weight: 400;
    color: $font-color-light;
  }
}

.job-listing-strip {
  @include elevate-on-hover(4, $shadow-color, white, 4px);
  @include sizing(border-box);
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding: 20px;

  + .job-listing-strip {
    margin-top: 24px;
  }

  &:last-child{
    margin-bottom: 24px;
  }

  .job-title {
    display: block;
    font-size: $font-size-medium;
    font-weight: 700;
    line-height: 1.5em;
    color: $font-color-normal;
    margin-bottom: 4px;
  }

  .job-details {
    display: block;
    font-size: 1.2em;
    font-weight: 500;
    line-height: $font-size-small;
    color: $font-color-lighter;
    margin-bottom: 8px;
  }

  .btn-container {
    justify-content: flex-start;
  }
}

// [#FOOTER STYLE----------------------]
#footer {
  @include sizing(border-box);
  position: relative;
  margin-bottom: 32px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $font-color-light;
  font-size: $font-size-smaller;

  &::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 10vw;
    right: 10vw;
    height: 1px;
    background-color: #dadada;
  }

  .copyright-notes {
    @include sizing(border-box);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img.heart-image {
    width: 1.2em;
    height: 1.2em;
  }

  .social-icons-container {
    display: none;
  }

  img.social-media-icon {
    @include transition(opacity 0.2s ease-in-out);
    width: 2em;
    height: 2em;
    opacity: .7;
    margin-right: 4px;

    &:hover{
      opacity: 1;
    }
  }
}

// MEDIA QUERIES --------------------------------------------

// [FOR DESKTOP AND TABLET >= 768 PX]
@media (min-width: 768px) {
  #header {

    #navbar-header{
      font-size: $font-size-small;
      font-weight: 400;
      letter-spacing: 0.05em;
      justify-content: flex-end;
      background-color: transparent;

      .navbar-nav > .nav-item > .nav-link {
        color: transparentize(#fff, 0.3);

        &:hover{
          color: white;
        }
      }

      .navbar-nav > .nav-item.active > .nav-link {
        color: transparentize(#fff, 0.1);

        &:hover{
          color: white;
        }
      }
    }

    .navbar-nav > .nav-item + .nav-item {
      margin-left: 16px;
    }

  }

  #footer {
    padding-left: 10vw;
    padding-right: 10vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .copyright-notes {
      @include sizing(border-box);
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
    }

    .social-icons-container {
      display: block;
    }
  }

  .headline-grid-container {
    padding: 72px 10vw;
  }

  .job-listing-strip {
    .btn-container {
      justify-content: flex-end;
    }
  }

  .btn {
    padding: 12px 48px;
  }
}